body {
    font-family: 'Frutiger-Light';
    font-size: 18px;
    width: 100%;
    height: 100%;
}

.table.tabs-table {
    margin: auto
}

.tabs-table-theader {
    font-family: 'Frutiger-Bold';
}

.tabs-table-tbody {
    font-family: 'Frutiger-Light';
}

.table.tabs-table td.tabs-table-td {
    padding: 8px;
}

.table.tabs-table td, .table.tabs-table th {
    border: 1px solid #eaf2f9;
    padding: 10px 8px;
}

.table.tabs-table td.rm-line-r, .table.tabs-table th.rm-line-r {
    border-right: 1px solid transparent;
}

.table.tabs-table .tabs-table-td {
    text-align: center;
}

.table.tabs-table .tabs-table-td:first-child {
    text-align: left;
    white-space: nowrap;
    color: #000066;
}

.table.tabs-table .tabs-table-td.tabs-table-td:first-child {
    text-align: left;
}

.table.tabs-table .tabs-table-td {
    text-align: center;
}

.table.tabs-table thead th.tabs-table-th {
    text-align: center;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}

.table.tabs-table thead tr:nth-child(1) th.tabs-table-th:first-child {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    text-align: left;
    white-space: nowrap;
}

.table.tabs-table thead tr:nth-child(1) th.tabs-table-th {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.table.tabs-table td:first-child, .table.tabs-table th:first-child {
    border-left: 1px solid transparent;
}

.table.tabs-table td:last-child, .table.tabs-table th:last-child {
    border-right: 1px solid transparent;
}

.table.tabs-table th.tabs-table-th-footer {
    font-family: 'Frutiger-Bold';
    white-space: nowrap;
    border: 1px solid transparent;
}

.table.tabs-table th.tabs-table-th-footer:first-child {
    color: #000066;
}

.table.tabs-table th.pd-0 {
    padding: 0;
}