@font-face {
    font-family: 'Frutiger-Roman';
    src: url('../fonts/FrutigerLTStd-Roman.woff') format('woff');
}

@font-face {
    font-family: 'Frutiger-Bold';
    font-weight: bold;
    src: url(../fonts/FrutigerLTStd-Bold.woff) format("woff");
}

@font-face {
    font-family: 'Frutiger-Light';
    font-weight: lighter;
    src: url(../fonts/FrutigerLTStd-Light.woff) format("woff");
}

.content-sections {
    margin: auto;
    max-width: 1200px;
    margin-bottom: 50px;
    box-shadow: 0px 2px 8px rgba(176, 192, 237, 0.4);
    border-radius: 4px;
    font-family: 'dukas';
}

.sections, .section-first, .section-last {
    max-width: 1200px;
    margin: auto;
}

.sections {
    font-family: 'Frutiger-Light';
    padding: 5px 16px;
}

.section-breadcrumb {
    margin: auto;
    max-width: 1200px;
}

.section-first {
    padding: 30px 16px 5px 16px;
    border-radius: 4px 4px 0 0;
}

.section-last {
    padding: 5px 16px 50px 16px;
    border-radius: 0 0 4px 4px;
}

.container-main {
    font-family: 'Frutiger-Light';
    padding: 20px;
    margin: auto;
}

.bg-color-0 {
    background-color: #fafafa;
}

.txt-color-0 {
    color: #fafafa;
}

.bg-color-1 {
    background-color: #ffffff;
}

.txt-color-1 {
    color: #ffffff;
}

.txt-color-2 {
    background-color: #333333;
}

.bg-color-2 {
    color: #333333;
}

.bg-color-3 {
    background-color: #000066;
}

.txt-color-3 {
    color: #000066;
}

.bg-color-4 {
    background-color: #005aae;
}

.txt-color-4 {
    color: #005aae;
}

.bg-color-5 {
    background-color: #008fcd;
}

.txt-color-5 {
    color: #008fcd;
}

.bg-color-6 {
    background-color: #00aef1;
}

.txt-color-6 {
    color: #00aef1;
}

.bg-color-7 {
    background-color: #009ae1;
}

.txt-color-7 {
    color: #009ae1;
}

.bg-color-8 {
    background-color: #00246c;
}

.txt-color-8 {
    color: #00246c;
}

.bg-color-9 {
    background-color: #3e3e3e;
}

.txt-color-9 {
    color: #3e3e3e;
}

.title {
    font-family: 'Frutiger-Bold';
    font-size: 38px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 5px;
    font-weight: 600;
}

.salutation {
    font-size: 24px;
}

.user {
    font-family: 'Frutiger-Bold';
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
}

.subtitle {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
}

.bradcrumb {
    font-family: 'Frutiger-Roman';
    font-size: 16px;
    color: #707070;
}

.link-one {
    width: 100%;
    text-decoration: none;
    color: #707070;
    text-align: center;
}

.link-one:hover {
    text-decoration: none;
}

.link-one.active {
    color: #000066;
}

.pd-lr-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.pd-tb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    height: 30px;
    width: 6px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #333;
}

.cat-row.bd-top-1-color-4 .cat-col {
    border-top: 1px solid #005aae;
}

.cat-row.bd-bottom-1-color-4 .cat-col {
    border-bottom: 1px solid #005aae;
}

.cat-row.bd-top-1-color-5 .cat-col {
    border-top: 1px solid #008fcd;
}

.cat-row.bd-bottom-1-color-5 .cat-col {
    border-bottom: 1px solid #008fcd;
}

.cat-row.bd-top-1-color-6 .cat-col {
    border-top: 1px solid #00aef1;
}

.cat-row.bd-bottom-1-color-6 .cat-col {
    border-bottom: 1px solid #00aef1;
}

.cat-row.bd-top-1-color-7 .cat-col {
    border-top: 1px solid #009ae1;
}

.cat-row.bd-bottom-1-color-7 .cat-col {
    border-bottom: 1px solid #009ae1;
}

.cat-row.bd-top-1-color-8 .cat-col {
    border-top: 1px solid #00246c;
}

.cat-row.bd-bottom-1-color-8 .cat-col {
    border-bottom: 1px solid #00246c;
}

.cat-col {
    padding: 15px 10px;
    white-space: nowrap;
    z-index: 2;
}

.cat-col.border-dynamic {
    border-bottom: 1px solid #ccc !important;
}

.cat-col-arrow {
    padding: 0px;
    margin: auto;
    z-index: 1;
    position: relative;
}

.cat-col-arrow::before, .cat-col-arrow::after {
    content: '';
    width: 100%;
    height: 1px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #fff;
}

.cat-col-arrow::before {
    top: -1px;
}

.cat-col-arrow::after {
    bottom: -1px;
}

.cat-title, .cat-description {
    color: #000066;
}

.category {
    margin-top: 12px;
}

.cat-description {
    font-family: 'Frutiger-Bold';
    font-size: 21px;
}

.cat-arrow {
    height: 96px;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    letter-spacing: 1px;
}

.cat-arrow::before, .cat-arrow::after {
    content: '';
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}

.cat-arrow::before {
    background-color: #fff;
    height: 66px;
    width: 66px;
    left: -33px;
    transform: rotate(45deg);
}

.cat-arrow::after {
    height: 100%;
    width: 96px;
    border-top: 48px solid #fff;
    border-left: 48px solid transparent;
    border-bottom: 48px solid #fff;
    border-right: 48px solid #fff;
    right: -48px;
}

.message-frame {
    font-size: 16px;
    font-family: 'Frutiger-Bold';
    padding: 25px;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
}

.commercial {
    width: 100%;
    height: 168px;
    background-image: url(../images/comercial.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.container-row-items {
    width: 100%;
}

.container-row-item {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all 500ms ease-in-out;
    opacity: 0;
}

.line-arrow {
    width: calc(100% - 4.5%);
    height: 0;
    position: relative;
}

.line-arrow.show {
    height: 1px;
}

.btn-arrow {
    width: 20px;
    height: 20px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background-image: url(../images/arrow-up.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55%;
    transform: rotate(180deg);
    z-index: 2;
    cursor: pointer;
    transition: all 350ms ease-in-out;
}

.btn-arrow.deg-0 {
    transition: all 350ms ease-in-out;
    transform: rotate(0deg);
}

.container-scores {
    width: 100%;
    display: flex;
    font-family: 'Frutiger-Bold';
    position: relative;
    overflow-x: hidden;
}

.score-frame-dynamic {
    width: 100%;
    height: 27px;
    background-color: #ddd;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: -8px;
}

.score-current {
    position: absolute;
    top: 0;
    left: -100px;
    bottom: 0;
    display: flex;
    align-items: center;
}

.score-col-1, .score-col-2, .score-col-3, .score-col-4 {
    width: 12.5%;
}

.score-col-5 {
    width: 50%;
}

.score-symbol {
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.score-symbol-2, .score-symbol-5 {
    background-image: url(../images/dolar.svg);
}

.score-symbol-3 {
    background-image: url(../images/ballon.svg);
}

.score-symbol-4 {
    background-image: url(../images/airplane.svg);
}

.score-symbol-5 {
    background-position: right;
}

.score-frame {
    width: 100%;
    height: 27px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.score-text {
    font-size: 14px;
}

.score-frame-1 {
    background-image: linear-gradient(to right, #00adf0, #00a1e6);
}

.score-text-1 {
    color: #00adf0;
    background: linear-gradient(to right, #00adf0, #00a1e6);
    background: -ms-linear-gradient(top right, transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.score-frame-2 {
    background-image: linear-gradient(to right, #00a1e6, #0092db);
}

.score-text-2 {
    color: #0092db;
    background: linear-gradient(to right, #00a1e6, #0092db);
    background: -ms-linear-gradient(top right, transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.score-frame-3 {
    background-image: linear-gradient(to right, #0092db, #0081cd);
}

.score-text-3 {
    color: #0081cd;
    background: linear-gradient(to right, #0092db, #0081cd);
    background: -ms-linear-gradient(top right, transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.score-frame-4 {
    background-image: linear-gradient(to right, #0081cd, #0065b7);
}

.score-text-4 {
    color: #0065b7;
    background: linear-gradient(to right, #0081cd, #0065b7);
    background: -ms-linear-gradient(top right, transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.score-frame-5 {
    background-image: linear-gradient(to right, #0065b7, #000167);
    justify-content: flex-end;
    padding-right: 10px;
}

.score-text-5 {
    color: #000167;
    background: linear-gradient(to right, #0065b7, #000167);
    background: -ms-linear-gradient(top right, transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.score-circle {
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 1;
}

.tabs-ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
    display: flex;
    color: #666666;
    border-bottom: 2px solid #666666;
}

.tabs-header {
    font-family: 'Frutiger-Roman';
    margin-right: 40px;
    position: relative;
    cursor: pointer;
    transition: all 350ms cubic-bezier(0.23, 1, 0.320, 1);
}

.tabs-header-1.active, .tabs-header-2.active, .tabs-header-3.active, .tabs-header-4.active {
    color: #000066;
}

.tabs-header:hover .tabs-border {
    height: 2px;
    background-color: #000066;
}

.tabs-border {
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -2px;
    background-color: transparent;
}

.tabs-border-1.active, .tabs-border-2.active, .tabs-border-3.active, .tabs-border-4.active {
    background-color: #000066;
}

.tabs-body {
    width: 100%;
    min-height: 50px;
    position: relative;
}

.tabs-container {
    font-size: 14px;
}

.tabs-item {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    opacity: 0;
    visibility: hidden;
    transition: all 150ms ease-out;
}

.tabs-item.active {
    transition: all 450ms ease-in;
    visibility: visible;
    opacity: 1;
}

.tabs-header:hover {
    color: #000066;
}

.border-1 {
    width: 100%;
    height: 1px;
}

#barChart {
    margin: auto;
}

.mask-canvas {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@media (min-width: 768px) {}

@media (min-width: 901px) {}

@media (min-width: 1024px) {}